/* .card{
  background-color: aqua;
} */
.card{
  background-color: aqua;
  max-width: 200px;
  border: 2px solid;
  border-radius: 5px;
  font-family: sans-serif;
  margin: 10px;
  text-align: center;
  display: inline-block;
 
  
}
.card img{
  width: 200px;
  height: 150px;
  

}