.Bg-Image{
    background:url('https://videos.openai.com/vg-assets/assets%2Ftask_01k20bskr2f13abq24xbchdqx7%2F1754506566_img_0.webp?st=2025-08-06T17%3A55%3A42Z&se=2025-08-12T18%3A55%3A42Z&sks=b&skt=2025-08-06T17%3A55%3A42Z&ske=2025-08-12T18%3A55%3A42Z&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skoid=3d249c53-07fa-4ba4-9b65-0bf8eb4ea46a&skv=2019-02-02&sv=2018-11-09&sr=b&sp=r&spr=https%2Chttp&sig=VgB%2FbiGPCbvNiNVfdJKSzTrBisDeebvBAfKm3TJS8%2Fc%3D&az=oaivgprodscus') ;
    background-size: cover;
    background-repeat:none ;
}